[Unit]
Description=My Python 3 Service
After=multi-user.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/Picrogrid/RaspberryPi/CoreExamples/SmartPanelDashboard
ExecStart=/usr/bin/python3 /home/pi/Picrogrid/RaspberryPi/CoreExamples/SmartPanelDashboard/SmartPanelDashboard.py
Restart=always
StandardOutput=journal
StandardError=journal

Type=simple

[Install]
WantedBy=multi-user.target